.about-hero__description {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
  height: 75px;
}

.about-main-list {
  // display: flex;
  margin-bottom: -30px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.about-main-list__item {
  &:not(:last-child) {
    // margin-right: 30px;
    width: 100%;
  }
}
.about-main-list__item {
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 120px) / 4);
  }
}
.about-img-list {
  display: flex;
}
.about-img {
  padding-bottom: 94px;
  display: none;
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.about-img-list__item {
  position: relative;
  &:not(:last-child) {
    margin-right: 30px;
  }
}
